.slide-fade-enter-active {
  transition: transform .3s ease-out;
}

.slide-fade-leave-active {
  transition: transform .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter-from {
  transform: translateY(100px);
}

.slide-fade-leave-to {
  transform: translateY(-100px);
}