@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --primary: 151 44 171;
    --primary-container: 255 214 255;
    --secondary: 108 88 107;
    --secondary-container: 245 219 241;
    --tertiary: 130 82 74;
    --tertiary-container: 255 218 212;
    --surface: 255 251 255;
    --surface-variant: 236 223 232;
    --main: 31 31 31;
  }
}